@import './../../../misc/styles/variables.scss';

.basic-interface {
  height: calc(100vh - 40px);
  width: 100%;
  overflow-y: auto;
  background-color: #282828;
  padding: 0 0.5rem;

  * {
    color: #ccc;
  }
}

.basic-interface__header {
  width: 100%;
  padding: 1em 0;
}

.basic-interface__header-total-calories {
  width: 70%;

  h2 {
    font-size: 2.5rem;
    margin: 0;
    color: 

    span {
      font-size: 1.5rem;
    }
  }
}

.basic-interface__header-date-group {
  width: 30%;

  span {
    width: 100%;
    text-align: right;
    font-weight: bold;
  }
}

.basic-interface__input {
  width: 100%;
  margin-bottom: 0.5em;
}

.gray-input {
  padding: 0.5em;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1em;
  color: #ccc;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ccc;
  }
}

.basic-interface__input-name {
  width: calc( 52% - 0.5em );
  margin-right: 0.5em;
  @extend .gray-input;
}

.basic-interface__input-calories {
  width: calc( 28% - 0.5em );
  margin-right: 0.5em;
  @extend .gray-input;
}

.basic-interface__input-submit {
  width: 20%;
  padding: 0.5em;
  border-radius: 3px;
  background-color: $chocolate;
  color: white;
  border: 0;
  font-size: 1em;
  font-weight: bold;

  // &:focus, &:active, &:hover {
  //   background-color: #d2691e;
  // }
}

.basic-interface__entry {
  padding: 0.5em 0;
  width: 100%;

  .entry__name {
    width: 70%;
  }

  .entry__calories {
    width: 30%;
    text-align: right;
  }
}

.basic-interface__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #282828;
  padding: 1em;
}

.basic-interface__popup-header, .basic-interface__popup-body,
.basic-interface__popup-body {
  width: 100%;
}

.basic-interface__popup-header, .basic-interface__popup-footer {
  height: 10%;
}

.basic-interface__popup-header {
  h2 {
    font-size: 2.5rem;
    margin: 0;
    flex: 1 0 auto;
  }

  button {
    flex: 0 0 auto;
    background-color: transparent;
    width: auto;
    height: auto;
    border: 0;
    outline: none;

    img {
      width: 1.5em;
      height: 1.5em;
    }
  }
}

.basic-interface__popup-body {
  height: 80%;

  input {
    font-size: 1.5rem;
    outline: none;
    width: 100%;
    @extend .gray-input;

    &:last-of-type {
      margin-top: 0.5em;
    }
  }
}

.basic-interface__popup-footer {
  button {
    width: 40%;
    margin: 5%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
    color: white;
    outline: none;

    &.delete {
      background-color: $firebrick;
    }

    &.save {
      background-color: $chocolate;

      &:disabled {
        opacity: 0.6;
      }
    }
  }
}