.App {
  display: block;
  position: relative;
  max-width: 640px;
  width: 100%;
}

.App .lifeapp__app-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  height: calc(100vh - 40px);
}

.App .lifeapp__app-list-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 3rem);
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #aaa;
    text-decoration: none;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 100%;
    }

    &:hover, &:focus, &:active {
      background-color: #dcdcdc;
      color: white;
    }
  }
}

.App .sub-app {
  min-height: calc(100vh - 40px);
}