body {
  overscroll-behavior-y: contain; // prevents pull refresh breaks soft routes
  
  * {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    color: #282828;
  }

  @font-face {
    font-family: 'Dosis';
    font-weight: normal;
    src: url('./styles/fonts/Dosis/Dosis-Regular.ttf');
  }

  @font-face {
    font-family: 'Dosis';
    font-weight: bold;
    src: url('./styles/fonts/Dosis/Dosis-Bold.ttf');
  }

  #root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
